@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

:root {
  font-family: 'Recursive', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  user-select: none;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
}

#grid article {
  border: 1px solid #ccc;
  min-height: 3em;
  box-sizing: border-box;
  padding: 0.25em;
}

.logo {
  text-align: center;
}

.logo img {
  width: 350px;
  height: 350px;
}
